<div class="container m-2">
  <div class="row m-0 p-0 bg-light-gray">
    <div class="col-md-4 col-sm-12  col-xs-12">
      <h1 class="big-title">Fast Shop</h1>
      <p class="paragraph-footer ">We have clothes that suits your style and which you’re proud to wear.
        From women to men.</p>
        <div class=" d-flex gap-2">
          <a href="" class="rounded-5 media-icon" ><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
          <a href="" class="rounded-5"><i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i></a>
          <a href="" class="rounded-5" ><i class="fa-brands fa-square-instagram" style="color: #000000;"></i></a>

        </div>
    </div>
    <div class="col-md-2 col-sm-6  col-6">
  <div class="head-list-footer">Company</div>
  <ul class="list-unstyled item-list-footer">
    <li><a class="nav-link p-0" href="#">About</a></li>
    <li><a class="nav-link p-0" href="#">Features</a></li>
    <li><a class="nav-link p-0" href="#">Works</a></li>
    <li><a class="nav-link p-0" href="#">Career</a></li>
  </ul>
</div>

<div class="col-md-2 col-sm-6  col-6">
  <div class="head-list-footer">Help</div>
  <ul class="list-unstyled item-list-footer">
    <li><a class="nav-link p-0" href="#">Customer Support</a></li>
    <li><a class="nav-link p-0" href="#">Delivery Details</a></li>
    <li><a class="nav-link p-0" href="#">Terms & Condition</a></li>
    <li><a class="nav-link p-0" href="#">Privacy Policy</a></li>
  </ul>
</div>
<div class="col-md-2 col-sm-6  col-6">
  <div class="head-list-footer">FAQ</div>
  <ul class="list-unstyled item-list-footer">
    <li><a class="nav-link p-0" href="#">Account</a></li>
    <li><a class="nav-link p-0" href="#">Managing Deliveries</a></li>
    <li><a class="nav-link p-0" href="#">Orders</a></li>
    <li><a class="nav-link p-0" href="#">Payments</a></li>
  </ul>
</div>

<div class="col-md-2 col-sm-6 col-6">
  <div class="head-list-footer">Resources</div>
  <ul class="list-unstyled item-list-footer">
    <li><a class="nav-link p-0" href="#">Free eBook</a></li>
    <li><a class="nav-link p-0" href="#">Development Tutorial</a></li>
    <li><a class="nav-link p-0" href="#">How-to Blog</a></li>
    <li><a class="nav-link p-0" href="#">YouTube Playlist</a></li>
  </ul>
</div>

  </div>
</div>
