
    <swal
      #mySwal
      [title]="swalOptions.title"
      [text]="swalOptions.text"
      [icon]="swalOptions.icon"
      [showCancelButton]="swalOptions.showCancelButton"
      [confirmButtonText]="swalOptions.confirmButtonText"
      [cancelButtonText]="swalOptions.cancelButtonText"
      [confirmButtonColor]="swalOptions.confirmButtonColor"
      [cancelButtonColor]="swalOptions.cancelButtonColor"
      [allowOutsideClick]="swalOptions.allowOutsideClick"
      [allowEscapeKey]="swalOptions.allowEscapeKey"
    ></swal>
