
  <div class="d-flex justify-content-center align-items-center mb-4">
    <form
    [formGroup]="resetPassowrdForm"
     class="bg-light p-4 rounded-4 shadow form w-100"
     (ngSubmit)="resetPassowrd(resetPassowrdForm)"
    >
@if(isSuccess) {
  <div class="alert alert-success">
      Success Change!
  </div>
}

@if(errorMessage && errorMessage.length > 0) {
  <div class="alert alert-danger">
       {{errorMessage}}
  </div>
}

     <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input id="newPassword" formControlName="newPassword" class="form-control" type="text"/>
         @if (resetPassowrdForm.get('newPassword')?.invalid &&resetPassowrdForm.get('newPassword')?.touched) {
        <div class="d-flex flex-column">
          @if (resetPassowrdForm.get('newPassword')?.errors?.['required']) {
            <span class="text-danger">Password is required.</span>
          }
          @if (resetPassowrdForm.get('newPassword')?.errors?.['pattern']) {
            <span class="text-danger"> Password must be at least 9 characters long and include uppercase, lowercase, number,
            and one special character (@, #, !, *, %, /, +, -).</span>
          }
        </div>
      }
    </div>
    <button type="submit" class="btn btn-black no-hover rounded-5 px-4 w-100">
      @if(isLoading)
      {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      }
      @else{
              <span>Save</span>
      }
    </button>
    </form>
  </div>
