
<div class="d-flex flex-column p-3 align-items-center">
  <ul class="nav nav-pills flex-column mb-auto text-center w-100">
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link link-dark d-flex justify-content-center">
        <i class="fa-solid fa-gauge"></i>
      </a>
    </li>
    <li>
      <a routerLink="/admin/orders"  routerLinkActive="active" class="nav-link link-dark d-flex justify-content-center">
        <i class="fa-solid fa-calendar-days"></i>
      </a>
    </li>
    <li>
      <a routerLink="/admin/products"  routerLinkActive="active" class="nav-link link-dark d-flex justify-content-center">
        <i class="fa-solid fa-grip"></i>
      </a>
    </li>
    <li>
      <a routerLink="/admin/categories"  routerLinkActive="active" class="nav-link link-dark d-flex justify-content-center">
        <i class="fa-solid fa-list"></i>
      </a>
    </li>
  </ul>

<div class="seperate"></div>
<ul class="nav nav-pills flex-column mb-auto text-center w-100 profile">
  <li>
    <a routerLink="/admin/profile/me" class="nav-link link-dark d-flex justify-content-center">
      <i class="fa-solid fa-gear"></i>
    </a>
  </li>
   <li>
      <a href="#"  class="nav-link link-dark d-flex justify-content-center">
    <i class="fa-solid fa-right-from-bracket"></i>
  </a>
  </li>

<div>
