
  <div class="d-flex justify-content-center align-items-center mb-4">
    <form
    [formGroup]="changePasswordForm"
     class="bg-light p-4 rounded-4 shadow form w-100"
     (ngSubmit)="changePassword(changePasswordForm)"
    >
@if(isSuccess) {
  <div class="alert alert-success">
      Success Change!
  </div>
}

@if(errorMessage && errorMessage.length > 0) {
  <div class="alert alert-danger">
       {{errorMessage}}
  </div>
}


    <div class="mb-3">
          <label for="OldPassword" class="form-label">Current Password</label>
          <input id="OldPassword" formControlName="OldPassword" class="form-control" type="text"/>

          @if(changePasswordForm.get('OldPassword')?.invalid&&changePasswordForm.get('OldPassword')?.touched)
          {
            <div class="d-flex flex-column">
               @if(changePasswordForm.get('OldPassword')?.errors?.['required']) {
    <span class="text-danger">Current Password is required</span>
  }
            </div>
          }
    </div>
     <div class="mb-3">
          <label for="NewPassword" class="form-label">New Password</label>
          <input id="NewPassword" formControlName="NewPassword" class="form-control" type="text"/>
         @if (changePasswordForm.get('NewPassword')?.invalid &&changePasswordForm.get('NewPassword')?.touched) {
        <div class="d-flex flex-column">
          @if (changePasswordForm.get('NewPassword')?.errors?.['required']) {
            <span class="text-danger">Password is required.</span>
          }
          @if (changePasswordForm.get('NewPassword')?.errors?.['pattern']) {
            <span class="text-danger"> Password must be at least 9 characters long and include uppercase, lowercase, number,
            and one special character (@, #, !, *, %, /, +, -).</span>
          }
        </div>
      }
    </div>
    <button type="submit" class="btn btn-black no-hover rounded-5 px-4 w-100">
      @if(isLoading)
      {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      }
      @else{
              <span>Save</span>
      }
    </button>
    </form>
  </div>
