/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight:bold;
  font-style:normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: 'Lato', sans-serif;
}

.form-control {
  border: none;
  background-color: rgb(235, 233, 233);
  padding: 0.5rem 1rem;
}
.form-control:focus{
  box-shadow: none;
   background-color: rgb(235, 233, 233);
}

.search-input-navbar{
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
}
  .search{
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px ;
  border: none ;
   background-color: rgb(235, 233, 233);
}
.search-wrapper .search:focus,
.search-wrapper .search:active {
  outline: none;
  box-shadow: none;
  background-color: rgb(235, 233, 233);
}

.search-wrapper .search:hover {
  background-color: rgb(235, 233, 233);
}

 .big-title {
  font-size: 70px;
  line-height: 1.1;
  letter-spacing: 1px;
  font-size: clamp(28px, 5.5vw, 70px);
  font-weight: 900;
}
.btn-black {
  background-color: black;
  color: white;
  border: none;
}

.btn-black.no-hover:hover,
.btn-black.no-hover:focus,
.btn-black.no-hover:active {
  background-color: black ;
  color: white;
  border: none ;
}
.form{
  width: 100%; max-width: 500px;
}
