<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-5">
<form class="bg-light p-4 rounded-4 shadow form w-100"
[formGroup]="forgetPasswordForm"
(ngSubmit)="forgetPassword(forgetPasswordForm)">
{{forgetPasswordForm.get("Email")?.errors|json}}
<div class="mb-3">
  <label for="Email" class="form-label">Email</label>
  <input formControlName="Email" id="Email" class="form-control" type="email"/>
</div>
@if(forgetPasswordForm.get('Email')?.invalid&&forgetPasswordForm.get("Email")?.touched)
{
<div class="d-flex flex-column">
          @if (forgetPasswordForm.get('Email')?.errors?.['required']) {
            <span class="text-danger">Email is required.</span>
          }
          @if (forgetPasswordForm.get('Email')?.errors?.['email']) {
            <span class="text-danger">Please enter a valid email address.</span>
          }
</div>
}

<button class="btn btn-black no-hover rounded-5 px-4 w-100" type="submit">Submit</button>
</form>
  </div>
</div>
